{% extends "layout/pad_base.html" %}

{% block title %}Reportes y Estadísticas{% endblock %}

{% block script_head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/visualizer.css') }}"/> -->
    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='vendor/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/d3plus/d3plus.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/topojson/topojson.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/sigma.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.parsers.json.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.layout.forceAtlas2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.renderers.customShapes.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.plugins.animate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.plugins.dragNodes.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.plugins.filter.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.plugins.neighborhoods.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/sigma/build/plugins/sigma.renderers.customEdgeShapes.min.js')}}"></script>
{% endblock %}

{% block title_view %}Reportes y Estadísticas{% endblock %}

{% block subtopbar %}
<div class="top-bar" id="uach-top-bar-2">
	<div class="grid-container full">
		<form action="{{ url_for('visualizer.base') }}" method="post">
			<div class="grid-x" id="uach-search">
				<div class="cell small-3">
					<div class="input-group">
						<span class="input-group-label">Año Inicio</span>
						<input class="input-group-field" id="yeara" name="yeara" type="search" placeholder="2008" value="{{ DATA['BASIC']['yeara'] }}">
					</div>
				</div>
				<div class="cell small-3">
					<div class="input-group">
						<span class="input-group-label">Año Fin</span>
						<input class="input-group-field" id="yearb" name="yearb" type="search" placeholder="2017" value="{{ DATA['BASIC']['yearb'] }}">
					</div>
				</div>
				<div class="cell small-4">
					<div class="input-group">
						<span class="input-group-label">Indexacion</span>
						<select name="indexation" class="input-group-field">
							<option value="SCOPUS,WOS,SCIELO" {{ DATA['BASIC']['selectedTODAS'] }}>TODAS</option>
							<option value="WOS" {{ DATA['BASIC']['selectedWOS'] }}>WOS</option>
							<option value="SCIELO" {{ DATA['BASIC']['selectedSCIELO'] }}>SCIELO</option>
							<option value="SCOPUS" {{ DATA['BASIC']['selectedSCOPUS'] }}>SCOPUS</option>
						</select>
					</div>
				</div>
				<div class="cell small-2">
					<button type="submit" id="searchbutton"  class="button expand uach-btn-search"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block body %}
<div class="grid-x uach-light-bg">
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción Total</h4>
			</div>
			<div class="small-8 cell" id="pubs"></div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción por disciplina</h4>
			</div>
			<div class="small-8 cell" id="disciplina"></div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción por departamento</h4>
			</div>
			<div class="small-8 cell" id="facultad"></div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción por tipo de convenio</h4>
			</div>
			<div class="small-8 cell" id="convenio"></div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción por tipo de categoría</h4>
			</div>
			<div class="small-8 cell" id="categoria"></div>
		</div>
	</div>
	<div class="cell uach-graph" style="display:none;">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción por horas de contrato</h4>
			</div>
			<div class="small-8 cell" id="horas"></div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Producción por edad</h4>
			</div>
			<div class="small-8 cell" id="edad"></div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Colaboración global</h4>
			</div>
			<div class="small-8 cell">
				<div class="grid-x">
					<div class="small-12 cell" id="world_map"></div>
					<div class="small-12 cell" id="institucion"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Red de autores</h4>
			</div>
			<div class="small-8 cell">
				<div class="small-12 cell" id="network"></div>
			</div>
		</div>
	</div>
	<div class="cell uach-graph">
		<div class="grid-x">
			<div class="small-4 cell">
				<h4 class="uach-header">Red de departamentos</h4>
			</div>
			<div class="small-8 cell">
				<div class="small-12 cell" id="network_d"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	function world_map(data, data2){
		d3plus.viz()
			.data(data)
			.type("geo_map")
			.container("#world_map")
			.color("value")
			.coords({
				"value":"http://d3plus.org/topojson/countries.json",
				"mute":["anata"]
			})
			.text("name")
			.mouse({
				"click":function(i){institutions(data2[i.id])}
			})
			.draw()
	}

	function pubs(data){
		d3plus.viz()
			.data(data)
			.container("#pubs")
			.type("bar")
			.id("tipo")
			.y("publicaciones")
			.x({"value":"tipo","ticks":["SCIELO","SCOPUS","WOS","TOTAL"]})
			.title("Producción")
			.background("none")
			.style("color","#fff")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"publicaciones",
				"sort":"asc"
			})
			.draw()
	}
	
	function edad(data){
		d3plus.viz()
			.data(data)
			.container("#edad")
			.type("bar")
			.id("edad")
			.y("publicaciones")
			.x("edad")
			.background("none")
			.style("color","#fff")
			.order({
				"value":"edad",
				"sort":"asc"
			})
			.draw()
	}

	function facultad(data){
        $("#facultad").empty()
		d3plus.viz()
			.data(data['l1'])
			.container("#facultad")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    facultad_l2(data,d.nombre)
                }
            })
			.draw()
	}
    function facultad_l2(data,a){
        $("#facultad").empty()
		d3plus.viz()
			.data(data['l2'][a])
			.container("#facultad")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    facultad_l3(data,a,d.nombre)
                }
            })
			.draw()
	}
    function facultad_l3(data,a,b){
        $("#facultad").empty()
		d3plus.viz()
			.data(data['l3'][a][b])
			.container("#facultad")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    facultad(data)
                }
            })
			.draw()
	}
	
	function categoria(data){
        $("#categoria").empty()
		d3plus.viz()
			.data(data["l1"])
			.container("#categoria")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    categoria_l2(data,d.nombre)
                }
            })
			.draw()
	}
    
    function categoria_l2(data,a){
        $("#categoria").empty()
		d3plus.viz()
			.data(data["l2"][a])
			.container("#categoria")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    categoria(data)
                }
            })
			.draw()
	}
	
	function convenio(data){
        $("#convenio").empty()
		d3plus.viz()
			.data(data["l1"])
			.container("#convenio")
			.type("tree_map")
			.background("none")
			.id("nombre")
			.labels({"align": "left", "valign": "top"})
			.size("value")
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    convenio_l2(data,d.nombre)
                }
            })
			.draw()
	}
	function convenio_l2(data,a){
        $("#convenio").empty()
		d3plus.viz()
			.data(data["l2"][a])
			.container("#convenio")
			.type("tree_map")
			.background("none")
			.id("nombre")
			.labels({"align": "left", "valign": "top"})
			.size("value")
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    convenio(data)
                }
            })
			.draw()
	}
	function disciplina(data){
        $("#disciplina").empty()
		d3plus.viz()
			.data(data['l1'])
			.container("#disciplina")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    disciplina_l2(data,d.nombre)
                }
            })
			.draw()
	}
    
    function disciplina_l2(data,name){
        $("#disciplina").empty()
        d3plus.viz()
			.data(data['l2'][name])
			.container("#disciplina")
			.type("tree_map")
			.id("nombre")
			.size("value")
			.background("none")
			.labels({"align": "left", "valign": "top"})
			.order({
				"value":"value",
				"sort":"desc"
			})
            .mouse({
                "click":function(d){
                    disciplina(data)
                }
            })
			.draw()
        
    }

	function institutions(data){
		$("#institucion").empty()
		d3plus.viz()
			.container("#institucion")
			.data(data)
			.type("tree_map")
			.background("none")
			.id("Institucion")
			.labels({"align": "left", "valign": "top"})
			.size("value")
			.draw()          
	}
	
	function scatter_horas(data){
		d3plus.viz()
			.container("#horas")
			.data(data)
			.type("scatter")
			.id("horas")
			.background("none")
			.x("publicaciones")
			.y("horas")
			.draw()          
	}
	
	INSTITUTIONS = {{ DATA['INSTITUTIONS'] | tojson }};
	world_map({{ DATA['WORLD_MAP']|tojson }}, INSTITUTIONS);
	pubs({{ DATA['PUBS'] | tojson }});
	facultad({{ DATA['FACULTY'] | tojson }});
	disciplina({{ DATA['OECD'] | tojson }});
	categoria({{ DATA['CATEGORY'] | tojson }});
	convenio({{ DATA['CONTRACT'] | tojson }});
	edad({{ DATA['AGE'] | tojson }});
	institutions(INSTITUTIONS["sachl"]);
	scatter_horas({{ DATA['HOURS'] | tojson }});
	NETWORK = {{ DATA["NETWORK"] | tojson }};
	NETWORKD = {{ DATA["NETWORKD"] | tojson }};

//        data = {{TREEMAP|tojson}}
//        var visualization = d3plus.viz()
//            .container("#viz")
//            .data(data)
//            .type("tree_map")
//            .id(["pais","institucion"])
//            .size("value")
//            .draw()

	sigma.classes.graph.addMethod('neighbors', function(nodeId) {
		var k,
			neighbors = {},
			index = this.allNeighborsIndex[nodeId] || {};
		for (k in index){
		  neighbors[k] = this.nodesIndex[k];
		}
		return neighbors;
	});

	s = new sigma({
		graph: NETWORK,
		container: 'network',
		renderer: {
			container: document.getElementById('network'),
			type: 'canvas'
		},
		settings: {
			defaultEdgeColor: '#DDDDDD',
			edgeColor:'#DDDDDD',
			defaultLabelColor:'#000',
			//~ labelSize: 'proportional',
			labelThreshold: 8,
			minNodeSize: 4,
			maxNodeSize: 15,
			minEdgeSize: 0,
			maxEdgeSize:10,
			zoomingRatio: 1.2,
			defaultEdgeType:'curve',
			font: 'sans-serif',
		}
	});
	time_count = 0;
	nodes_length = s.graph.nodes().length;
	nodes_count = 1;
	C = [];
	s.graph.nodes().forEach(function(n) {
		nodes_count++
		color = n.color;
		n.color = color;
		C[n.id] = color;
		n.originalColor = color;
	});
	
	s.graph.edges().forEach(function(e) {
		time_count++;
		e.originalColor = '#888';
		e.color = '#888';

	});
	CustomShapes.init(s);
	s.refresh();

	s.bind('overNode', function(e) {
		var nodeId = e.data.node.id,
			toKeep = s.graph.neighbors(nodeId);
		toKeep[nodeId] = e.data.node;
	
		s.graph.nodes().forEach(function(n) {
			if (toKeep[n.id]){
				n.color = n.originalColor;
				n.hidden = 0
			} else {
				n.color = '#eee';
				n.hidden = 1;
			}
		});
		s.graph.edges().forEach(function(e) {

			if (toKeep[e.source] && toKeep[e.target]){
				e.color = e.originalColor;
				e.hidden = 0;
			} else {
				e.color = '#eee';
				e.hidden = 1;
			}
		});
		s.refresh();
	});

  
	s.bind('outNode', function(e) {
		s.graph.nodes().forEach(function(n) {
			n.hidden = 0;
			n.color = n.originalColor;
		});
		s.graph.edges().forEach(function(e) {
		  e.hidden = 0;
		  e.color = e.originalColor;
		});
		s.refresh();
	});
	
	s.startForceAtlas2({iterationsPerRender:1,gravity:1,slowDown:10,strongGravityMode:true});
	setTimeout(function() { s.stopForceAtlas2(); },10000);
	//setTimeout(function() { s.refresh(); }, 1000);
	var c = s.camera;
	s2 = new sigma({
		graph: NETWORKD,
		container: 'network_d',
		renderer: {
			container: document.getElementById('network_d'),
			type: 'canvas'
		},
		settings: {
			defaultEdgeColor: '#DDDDDD',
			edgeColor:'#DDDDDD',
			defaultLabelColor:'#000',
			//~ labelSize: 'proportional',
			labelThreshold: 8,
			minNodeSize: 4,
			maxNodeSize: 15,
			minEdgeSize: 0,
			maxEdgeSize:10,
			zoomingRatio: 1.2,
			defaultEdgeType:'curve',
			font: 'sans-serif',
		}
	});
	time_count = 0
	nodes_length = s2.graph.nodes().length
	nodes_count = 1
	C = []
	s2.graph.nodes().forEach(function(n) {
		nodes_count++
		color = n.color;
		n.color = color
		C[n.id] = color
		n.originalColor = color
	});
	s2.graph.edges().forEach(function(e) {
		time_count++
		e.originalColor = '#888';
		e.color = '#888';
	});
	CustomShapes.init(s);
	s2.refresh()

	s2.bind('overNode', function(e) {
		var nodeId = e.data.node.id,
			toKeep = s2.graph.neighbors(nodeId);
		toKeep[nodeId] = e.data.node;
	
		s2.graph.nodes().forEach(function(n) {
			if (toKeep[n.id]){
				n.color = n.originalColor;
				n.hidden = 0;
			} else {
				n.color = '#eee';
				n.hidden = 1;
			}
		});

		s2.graph.edges().forEach(function(e) {

			if (toKeep[e.source] && toKeep[e.target]){
				e.color = e.originalColor;
				e.hidden = 0;
			}else{
				e.color = '#eee';
				e.hidden = 1;
			}
		});
		s2.refresh();
	});

	s2.bind('outNode', function(e) {
		s2.graph.nodes().forEach(function(n) {
			n.hidden = 0
			n.color = n.originalColor;
		});
		s2.graph.edges().forEach(function(e) {
			e.hidden = 0
			e.color = e.originalColor;
		});
		s2.refresh();
	});
	
	s2.startForceAtlas2({iterationsPerRender:1,gravity:1,slowDown:10,strongGravityMode:true});
	setTimeout(function() { s2.stopForceAtlas2(); },10000);
	//setTimeout(function() { s.refresh(); }, 1000);
	var c2 = s2.camera;
</script>
{% endblock%}