{% extends "layout/pad_base.html" %}

{% block body %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
        	<h1>Error {{ error.code}}</h1>
        	<p>{{ error.error }}</p>
        </div>
    </div>
</div>
{% endblock %}
