
body{
    background-color:#f1f1f1;
}

.top-nav,.page-footer,.parallax-container,.section,.collapsible{
    min-width:1080px;
    max-width:100%;
}
.loader-container{
    position:fixed;
	width:100%;
    right:0;
	left:0;
    height:100%;
    z-index:1000000;
    background:rgba(256,256,256,0.8);
    display:none;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    left:0;
    right:0;
    margin:auto;
    animation: spin 2s linear infinite;
}

.hoverable .card-image{
    background-color:#E0E0E0;
}

#scatter rect,.data#linechart path,.fft#linechart2 path{
    cursor:default;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vis{
    background-color:#f1f1f1;
}

#title{
    padding-left:350px;
}

.background img{
    max-width:300px;
}

.tap-target-wrapper.open{
    z-index:999999999;
}

#background .card{
    opacity:0.9;
}

#bib a{
    color:white !important;
}

#modal1{
    width:80%;
    height:80%;
    max-height: 80%;
    z-index:999999999999;
    left:0;
    right:0;
    margin:auto;
    margin-top:5%;
}

.card .card-reveal{
    z-index:99999999 !important;
    height:80%;
}

.collapsible{
    margin-top:-4px;
    margin-bottom:10px;
}
.collapsible-body{
    background-color: #ffffff;
}

.sidenav .user-view .circle2 {
    height: 100px;
    text-align:center;
}

.sidenav .user-view {
    text-align: center;
}

nav.top-nav a.page-title {
    line-height: 110px;
    font-size: 48px;
}

.top-nav{
    height:auto;
}

#barchart{
    height:auto;
}

.datepicker-table td {
    border-radius: 50%;
    padding: 0;
    color: black;
}

.collapsible{
    padding-left:230px !important;
}


.map{
    width:100%;
    height:300px;
}

#barchart #data rect{
    cursor:pointer;
}

#switch{
    float:right;
    right:0;
    position:absolute;
    margin-right:10px;
}

#switch2{
    float:right;
    right:0;
    position:absolute;
    z-index: 999;
    margin-top: 10px;
    margin-right:10px;
    padding: 5px;
}

#maptitle{
    float:left;
    left:0;
    position:absolute;
    z-index: 999;
    margin-top: 10px;
    margin-left:10px;
    padding: 5px;
}

#maptitle span{
    color:#888;
    font-size:12px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/*HEATMAP*/
.axis path, .axis line {
    fill: none;
    stroke: #E9E9E9;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 9px;
}

tbody>tr>th{
    font-weight:normal;
}

/*nav*/
.sidenav li>a {
    font-size: 12px;
}

.sidenav {
    width:230px;
}

@media only screen and (min-width: 993px)
.container {
     width: 100%; 
}

@media only screen and (min-width: 601px)
.container {
     width: 100%; 
}

.container {
    margin: 0 auto;
    min-width: 1080px; 
    max-width: 1400px; 
    margin-left: 250px;
    margin-right: 20px;
}

.tap-target{
    padding-left:50px;
}

tspan,text,#d3plus_graph_background,#d3plus_graph_mirror,#d3plus_graph_plane,#bar,#d3plus_graph_xgrid,#d3plus_graph_ygrid,#radarchart path,#radarchart g{
    cursor:default;
}

#radar-card #radarchart{
    padding:10px;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 210px;					
    height: 90px;
    background-color:white;
    padding: 10px;				
    font-size: 12px;		
    border: 0px;			
    pointer-events: none;			
}
div.tooltip .left{
    display:inline-block;
    width:140px;
}
div.tooltip .right{
    display:inline-block;
    width:50px;
}

#treemap rect.d3plus_data{
    cursor:pointer;
}

/*leaflet popup*/
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 0px !important;
}