{% extends "layout/pad_base.html" %}

{% block container %}
    <nav class="top-nav blue">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Ayuda</a></div>
        </div>
    </nav>
{% endblock %}
