{% extends "layout/pad_base.html" %}

{% block container %}

    <div class="parallax-container">
        <div class="parallax"><img width="100%" src="{{ url_for('static', filename='assets/img/murcia.jpg') }}"></div>
<!--        <div class="datathon-logo" style="margin-left:270px;margin-top:20px;"><img src="{{ url_for('static', filename='assets/img/datathon.png') }}"></div>-->
    </div>
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <h2 class="header">Presentación</h2>
                <p>Este sitio ha sido construido para brindarle al usuario una vista amigable de todos los datos que fueron suministrados, además de añadir valor agregado utilizando fuentes externas de información.</p>
                <div class="row">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <h5>Sobre los datos</h5>
                                <p>Los datos suministrados corresponden a datos anónimos de transacciones con realizadas con tarjeta en la ciudad de Murcia del Grupo Cajamar (2.241.460 registros), correspondiendo al período 01/10/2015 al 30/09/2017.</p><br>
                                <p>Dentro de los datos se individualizan diversas variables de la compra, entre las que tenemos el código postal del cliente, el código postal del comercio, el nombre del sector (como por ejemplo alimentación, belleza, etc.), el día, el horario, su importe total, la proporción de hombres y mujeres, la proporción socioeconómica y la proporción de rango de edad.</p><br>
                                <p>Adicional a lo anterior, se consideraron fuentes externas de enriquecimiento de datos entre las que se consideran:</p>
                                <ol>
                                    <li><a href="http://maps.google.es" target="_blank" class="grey-text text-lighten-1">Google Maps</a>. Distancia y tiempo recorrido de cada municipio a la ciudad de Murcia.</li>
                                    <li><a href="http://econet.carm.es/web/crem" target="_blank" class="grey-text text-lighten-1">Centro Regional de Estadística de Murcia</a>. Datos demográficos.</li>
                                    <li><a href="https://dgonzaco.carto.com/viz/ede68468-31ea-11e4-abc6-0e10bcd91c2b/public_map" class="grey-text text-lighten-1">Mapa público del Podemos</a>. Extracción de los polígonos para cada código postal.</li>
                                    <li><a href="https://www.datosmacro.com" class="grey-text text-lighten-1">Datosmacro</a>. Ingreso per cápita.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Estructura del sitio</h4>
                <p>La estructura de la web se divide en tres grandes secciones: Análisis, Vistas y Herramientas, las que se describen a continuación:</p>
                <div class="row">
                    <div class="col s6">
                        <div class="card blue">
                            <div class="card-content white-text">
                                <h5>Sección: Análisis - Resultados</h5>
                                <p>Esta sección agrupa los resultados en un formato del tipo preguntas y respuestas, y se puede considerar como un resumen de lo más importante de los datos analizados.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                    </div>
                    <div class="col s6">
                        <div class="card blue darken-2">
                            <div class="card-content white-text">
                                <h5>Sección: Vistas - Visualizaciones</h5>
                                <p>Esta sección es la más importante, pero ten paciencia, ya que puede tardar unos 20 segundos en procesar todos los datos.</p>
                                <p>Acá encontrarás un cuadro de mando con visualizaciones respecto al importe u operaciones, con hasta 8 gráficos distintos. Además puedes filtar la información por fecha, sector y municipio.</p>
                                <p>Es importante que cuando ingreses hagas click a los íconos con el símbolo <b>?</b>, dentro de ellos se encuentra la ayuda necesaria para comprender el funcionamiento de cada gráfico.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card blue darken-2">
                            <div class="card-content white-text">
                                <h5>Sección: Vistas - Municipios</h5>
                                <p>En esta sección se complementa con la anterior y puedes obtener información específica de cada uno de los municipios de Murcia.</p>
                                <p>Esta información específica incluye distancia recorrida, ingresos per cápita, población, vehículos, comercios y paro registrado.</p>
                                <p>Además se pueden ordenar los datos globales de acuerdos a las mismas variables anteriores.</p>
                                <p>Leyendo el encabezado de esta sección podrás su correcto funcionamiento.</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card blue darken-4">
                            <div class="card-content white-text">
                                <h5>Sección: Herramientas - Adelántate</h5>
                                <p>Adelántate es una herramienta que permite saber los horarios de compra mas frecuentes en la ciudad de Murcia.</p>
                                <p>Para su funcionamiento debes escoger el código postal del destino, el comercio a comprar y el día de compras. La idea principal es ahorrar tiempo comprando en los horarios en que la gente realiza la menor cantidad de operaciones.</p>
                                <p>Este algoritmo funciona comparando el día elegido con el mismo día de la semana de los años anteriores.</p>
                                <p>Como ejemplo, si tomamos el 8 de abril del 2018 que es día domingo y corresponde a la segunda semana de abril, el sistema analizará el domingo de la segunda semana de abril del 2017 y 2016 respectivamente, ya que se asume que el comportamiento de días corrientes es equivalente para todos los años.</p>
                                <p>La única exepción a lo anterior es con los días festivos, de esa forma, si seleccionas un 25 de diciembre, el sistema lo comparará con el 25 de diciembre de los años anteriores.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card blue darken-4">
                            <div class="card-content white-text">
                                <h5>Sección: Herramientas - Fourier</h5>
                                <p>La transformada de Fourier aplicada a series temporales permite obtener información de eventos que no son simples de observar.</p>
                                <p>La idea de esta herramienta es que puedas aplicar la transformada de Fourier a todas las series temporales que estimes convenientes, especificando el sector y los municipios que quieres analizar</p>
                                <p>El objetivo es ver picos de frecuencia para poder observar de este modo cuantos evento se dan según el sector y un municipio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

