{% extends "layout/pad_base.html" %}

{% block container %}
    <nav class="top-nav blue">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Transformada de Fourier</a></div>
        </div>
    </nav>
    <div class="container" class="vis">
        <div class="row">
            <div class="col s12">
                <div class="row" style="padding-top:10px;margin-bottom: 0;">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <p>La transformada de Fourier aplicada a series temporales permite obtener información de eventos que no son simples de observar.</p>
                                <p>Selecciona el sector y el municipio que quieres analizar y luego haz click en procesar.</p>
                                <p>El gráfico de la izquierda muestra la data real normalizada, mientras que el gráfico de la derecha muestra la transformada de Fourier.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col s12">
                <div class="input-field col s6">
                    <select name="sector" id="sector" class="grey-text">
                        <option value="TODOS LOS SECTORES" selected>Todos los sectores</option>
                        <option value="ALIMENTACION">Alimentación</option>
                        <option value="AUTO">Auto</option>
                        <option value="BELLEZA">Belleza</option>
                        <option value="HIPERMERCADOS">Hipermercados</option>
                        <option value="HOGAR">Hogar</option>
                        <option value="MODA Y COMPLEMENTOS">Moda y complementos</option>
                        <option value="OCIO Y TIEMPO LIBRE">Ocio y tiempo libre</option>
                        <option value="OTROS">Otros</option>
                        <option value="RESTAURACION">Restauración</option>
                        <option value="SALUD">Salud</option>
                        <option value="TECNOLOGÍA">Tecnología</option>
                        
                    </select>
                    <label>Sector</label>
                </div>
                <div class="input-field col s6">
                    <select name="municipio" id="municipio" class="grey-text">
                        <option value="Todos los municipios" selected>Todos los municipios</option>
                        <option value="Abanilla">Abanilla</option>
                        <option value="Abarán">Abarán</option>
                        <option value="Águilas">Águilas</option>
                        <option value="Albudeite">Albudeite</option>
                        <option value="Alcantarilla">Alcantarilla</option>
                        <option value="Alcázares (Los)">Alcázares (Los)</option>
                        <option value="Aledo">Aledo</option>
                        <option value="Alguazas">Alguazas</option>
                        <option value="Alhama de Murcia">Alhama de Murcia</option>
                        <option value="Archena">Archena</option>
                        <option value="Beniel">Beniel</option>
                        <option value="Blanca">Blanca</option>
                        <option value="Bullas">Bullas</option>
                        <option value="Calasparra">Calasparra</option>
                        <option value="Campos del Río">Campos del Río</option>
                        <option value="Caravaca de la Cruz">Caravaca de la Cruz</option>
                        <option value="Cartagena">Cartagena</option>
                        <option value="Cehegín">Cehegín</option>
                        <option value="Ceutí">Ceutí</option>
                        <option value="Cieza">Cieza</option>
                        <option value="Fortuna">Fortuna</option>
                        <option value="Fuente Álamo">Fuente Álamo</option>
                        <option value="Jumilla">Jumilla</option>
                        <option value="Librilla">Librilla</option>
                        <option value="Lorca">Lorca</option>
                        <option value="Lorquí">Lorquí</option>
                        <option value="Mazarrón">Mazarrón</option>
                        <option value="Molina de Segura">Molina de Segura</option>
                        <option value="Moratalla">Moratalla</option>
                        <option value="Mula">Mula</option>
                        <option value="Murcia">Murcia</option>
                        <option value="Ojós">Ojós</option>
                        <option value="Pliego">Pliego</option>
                        <option value="Puerto Lumbreras">Puerto Lumbreras</option>
                        <option value="Ricote">Ricote</option>
                        <option value="San Javier">San Javier</option>
                        <option value="San Pedro del Pinata">San Pedro del Pinata</option>
                        <option value="Santomera">Santomera</option>
                        <option value="Torre-Pacheco">Torre-Pacheco</option>
                        <option value="Torres de Cotillas (Las)">Torres de Cotillas (Las)</option>
                        <option value="Totana">Totana</option>
                        <option value="Ulea">Ulea</option>
                        <option value="Unión (La)">Unión (La)</option>
                        <option value="Villanueva del Río Segura">Villanueva del Río Segura</option>
                        <option value="Yecla">Yecla</option>
                    </select>
                    <label>Municipio</label>
                </div>
                <div class="input-field col s12">
                    <div class="input-field">
                        <button class="btn waves-effect waves-light right" type="button" id="procesar">Procesar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="map-card" hidden>
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card grey lighten-2">
                            <div class="card-content" style="height:484px;">
                                <h5>Data Real</h5>
                                <div class="data" id="linechart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card grey lighten-2">
                            <div class="card-content" style="height:484px;">
                                <h5>Transformada de Fourier</h5>
                                <div class="fft" id="linechart2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script>
        //        FUNCIÓN DE VISUALIZACIÓN DEL LINECHART
        function linechart(data,x,y,container){
            $(container).empty()
            var visualization = d3plus.viz()
                .container(container)  
                .data(data)
                .type("line")       
                .id("municipio")         
                .text("municipio")       
                .y(y)         
                .x(x)
                .width(490)
                .height(400)
                .format("es_ES")
                .background("#e0e0e0")
                .font({
                    color:"#212121"
                })
                .draw()
        }
        
        $(document).ready(function(){
            $('#sector').formSelect();
            $('#municipio').formSelect();
            $("#procesar").click(function(){
                $(".loader-container").show()
                $.get( "{{url_for('fourier.fft_data')}}",{"municipio":$("#municipio").val(),"sector":$("#sector").val()}, function( data ) {
                    $("#map-card").show()
                    
                    linechart(data["data"],"tiempo","amplitud","#linechart")
                    linechart(data["fft"],"frecuencia (dias)","|y(f)|","#linechart2")
                    $(".loader-container").hide()
                });
            })
        });
            
    </script>
{% endblock %}
