{% extends "layout/pad_base.html" %}

{% block container %}
    <nav class="top-nav blue">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Resultados</a></div>
        </div>
    </nav>
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <p>En el análisis e interpretación de datos, es común tener una gigantesca cantidad de información que se traduce en una gran cantidad de elementos individuales en su estado mínimo, éstos aportan mucha información acerca de la realidad, pero es necesario estructurarlos y dibujarlos de una forma en la que por sí solos, estas visualizaciones nos aporten de la manera más sencilla posible, una buena interpretación de la información. Por eso queremos expresar la información que nuestros gráficos nos aportan, en forma de preguntas y respuestas:</p>
                <p>En las transacciones totales de Murcia (sin distinguir entre sectores):</p>
                <h4>Provincia de Murcia</h4>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr1.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Cuales son los picos de consumición durante el año?</h5>
                            <p>Como podemos ver en el gráfico del número de transacciones con respecto al tiempo, el mayor pico de consumición se produce en Enero, debido al evento de la navidad y Reyes Magos. También podemos ver como el número mínimo se hace en verano, en agosto, el mes en el que la gente viaja y abandona sus hábitos del año, esto comienza a crecer de nuevo en Septiembre, cuando la gente se incorpora nuevamente a la rutina.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr2.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Quién hace y en qué porcentaje se hacen las transacciones de Murcia?</h5>
                            <p>Encontramos que el 60% de las transacciones están hechas por mujeres, y en cuanto a edad, la población adulta es la que más transacciones realiza, siendo los pensionistas los de menor cantidad de eventos, esto puede ser debido al poco uso de la tarjeta, ya que las transacciones de mayor valor económico, suelen ser de pensionistas, animar a los pensionistas a realizar operaciones con tarjeta puede aumentar la fuente de obtención de metadatos.</p>
                            <p>Resaltar también que el 43% de transacciones, es realizado por gente de bajo salario.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr3.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Cuales son las transacciones que mayor importancia tienen?</h5>
                            <p>El número de transacciones es un buen indicativo de la importancia relativa de un tipo de producto en una ciudad, por ejemplo, lo más evidente es que el producto más importante es el alimento, es por esto que el mayor número de transacciones se hace en alimentación. Sin embargo para los coches, las transacciones se reducen a menos de una por persona, por este motivo  el número de transacciones en este sector será mucho menor. Otra forma de ver esto, es con el importe de las transacciones, ya que la industria del automóvil tiene menos transacciones que la alimentación, pero sus transacciones son de un mayor importe.
                            Por tanto contando el número de transacciones totales o el importe total, se puede contestar a esta pregunta de dos formas:</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr4.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿En qué sector compran con mayor frecuencia los murcianos?</h5>
                            <p>El orden es Alimentación, moda y complementos, otros, hipermercados, restauración, salud, ocio y tiempo libre, hogar, belleza, tecnología y automoción.</p>
                            <h5>¿En qué sector gastan más dinero los murcianos?</h5>
                            <p>El orden es Alimentación, moda y complementos, hipermercados, otros, restauración, salud, ocio y tiempo libre, automoción, hogar, tecnología y belleza.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr10.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿En qué horario compran los murcianos?</h5>
                            <p>En Murcia se suele comprar a todo horario, siendo los períodos de 12-14 hrs y 18-22 hrs en dónde se forman los picos máximos de compra.</p>
                            <p>Se sugiere que, para ahorrar tiempo, se prefieran los horarios de 14-18 y/o 08-12 hrs, debido a una menor afluencia de público.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">

                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Cómo varían las transacciones con el tiempo?</h5>
                            <p>Lo primero que claramente ocurre es que hay un pico de consumición en navidad (Reyes magos) en todos los sectores, menos en el de Automoción, en este sector no existe ningún evento, no hay picos claros de consumición, además, en todos los demás sectores existe un mínimo de consumición a finales de agosto.</p>
                            <p>Se puede ver también que curiosamente hay un pequeño aumento de la media de consumición en Septiembre, y este pico se hace muy claro en el sector del ocio, ya que cuando acaba el verano, viene el nuevo año "académico" y la búsqueda de nuevos hobbies, nuevos estímulos post-vacacionales. </p>
                            <p>Otra variación con respecto a la media se da en el sector de la moda, en el que encontramos 2 picos, uno antes de navidad, y otro antes de los reyes magos, esto indica que se invierte en Moda dos veces, antes de navidad y en navidad.</p>
                            <p>Por último se puede ver como en el sector tecnológico existen unos picos en noviembre, estos corresponden al Black friday, que es un evento "artificial" creado para aumentar el consumo.</p>
                            <p>En resumen, estos datos sugieren que existen eventos como la navidad o el black friday que aumentan considerablemente el consumo, e invita a crear estos picos en sectores donde no existen como el de la industria automotriz, en donde no existe ningún evento que aumente su consumo medio. También alerta de los picos mínimos en agosto, donde es necesario invertir más esfuerzo para que se consuma, ya que ahí se encuentran los mínimos, por último destacar la potencialidad de septiembre como mes de venta y el periodo justo antes de navidad para el sector de la moda, donde se puede aumentar fácilmente la publicidad. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">

                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Quién hace y en qué porcentaje se hacen las transacciones de Murcia?</h5>
                            <p>La diferencia de sexos se hace notable en determinados sectores, en el de la automoción las mujeres solo hacen el 24% de las transacciones, y en el sector de moda realizan el 80% de estas. Esto nos sugiere que una enorme cantidad de uno de los géneros en cada uno de los sectores es un potencial cliente que por el momento no está consumiendo como el otro.</p>
                            <p>Si miramos el nivel económico de los que hacen las transacciones, nos podemos dar cuenta de que las proporciones se mantiene bastante entre cada uno de los sectores, siendo del 40% aproximadamente la proporción de compradores con renta media y baja, y un 20% aproximadamente de renta alta, esto nos aporta información de la distribución de riqueza en Murcia.</p>
                            <p>Por último se puede ver como normalmente la proporción de edad de los compradores también se mantiene, siendo la población adulta la que más transacciones realiza, en torno al 70%, y los jubilados son los que hacen las transacciones de mayor importe, pero los que menos transacciones realizan, posiblemente debido a motivos culturales, menos pagos con tarjeta.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr5.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Algunas observaciones de los municipios. Parte 1.</h5>
                            <p>Murcia tiene un ingreso per cápita de 20688€, sin embargo el importe medio es de 41.6€ mientras que el municipio con menos habitantes tiene un ingreso per capita de 11385€ y un importe medio de 65€</p>
                            <p>La alimentación se puede ver que es característico de los municipios grandes, como el propio Murcia, Cartagena y Lorca, ya que consumen en zonas cercanas.</p>
                            <p>En Molina de Segura ya se le da prioridad en las transacciones a hipermercados, moda y complementos, estos dos sectores van a ser los que más importe tengan en municipios de tamaño de habitantes intermedio como: Cieza, Águilas, Yecla, San Javier, Totana etc…</p>
                            <p>Donde se ve clara esta tendencia es cuando vemos los municipios por distancias, se ve claramente que a distancias largas, la población se desplaza a consumir en el sector de moda y complementos.</p>                    
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr6.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>Algunas observaciones de los municipios. Parte 2.</h5>
                            <p>Algo curioso, es que el importe promedio suele ser parecido, es decir, que no por viajar más se consume más. Sin embargo esto produce que haya una relación lineal entre el importe total y la distancia, el importe total gastado en Murcia es mayor conforme el municipio está más cerca. Al igual que con el número de transacciones, al estar igualado el importe promedio, a mayor número de transacciones, mayor será el importe total gastado en Murcia.</p>
                            <p>En los municipios de menores habitantes, las mayores transacciones van a moda y complementos.</p>
                            <p>El sentido e interpretación de todo esto es al estar lejos de la ciudad de Murcia, se desplazan a ella en menor medida, con el objetivo de realizar compras que usualmente no realizan, en este caso son compras en el sector de moda y complementos.</p>
                            <p>Se puede observar que el municipio con menos habitantes (Ulea) tiene un importe promedio de 65 euros, esto se debe a que los habitantes del municipio van a Murcia principalmente a comprar los productos de mayor valor. </p>                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr7.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Cómo se distribuyen espacialmente las transacciones?</h5>
                            <p>Con el tercer gráfico de las visualizaciones, podemos hacer una interpretación de interés para los inversores en creación de nuevos comercios, ya que se puede ver qué municipios compran con mayor frecuencia (mayor número de transacciones) en Murcia y que municipios gastan más dinero en Murcia, quizá lo más interesante del gráfico sean los mínimos y los máximos, ya que estos son indicadores de las zonas que están necesitadas de comercios, por ejemplo, un máximo en un municipio para un sector indica que en ese municipio no hay comercios de calidad de ese sector, ya que la población se desplaza a Murcia para hacer las transacciones en ese sector, por lo que sugiere una oportunidad de inversión.</p>                            
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr8.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿En que zonas hay que enfocar la seguridad?</h5>
                            <p>Las zonas en rojo corresponden a los códigos postales con mayor número de transacciones, por ese motivo es importante destacar que estas zonas pueden convertirse en puntos claves de hurto debido a la mayor cantidad de gente que se mueve por esos sectores.</p>
                            <p>Estos códigos postales son: 30001, 30002, 30004, 30005, 30007, 30009, 30011 y 30100, que corresponden específicamente al norte de la ciudad.</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal blue-grey darken-1 hoverable">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/pr9.png')}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                            <h5>¿Qué objetivo tiene la transformada de Fourier?</h5>
                            <p>Con esta transformada podemos detectar “eventos en la consumición”, como podemos ver en los gráficos temporales, hay sucesos que se repiten en el tiempo, como lo son la navidad o el crecimiento en Septiembre, esto son oscilaciones que se dan con una determinada frecuencia, en estos casos se pueden ver a simple vista, pero hay otras oscilaciones, otros eventos que no podemos detectar viendo simplemente el gráfico temporal, por eso hacemos la transformada, con el objetivo de ver picos de frecuencia para poder ver de este modo cuantos evento se dan según el sector y el municipio, de modo que el los gráficos que no se observan picos, se sugiere la creación de “eventos” que inviten a la consumición, un ejemplo típico de evento artificial que invita a consumir es el Black Friday.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
{% endblock %}
