{% extends "layout/pad_base.html" %}

{% block container %}
    <nav class="top-nav blue">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Municipios</a></div>
        </div>
    </nav>
    <div class="container" class="vis">
        <div class="row">
            <div class="col s12">
                <div class="row" style="padding-top:10px;margin-bottom: 0;">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <p>Esta sección te permitirá obtener información específica para cada uno de los municipios de la provincia de Murcia.</p>
                                <p>El tipo de ordenamiento permite cambiar el diagrama de dispersión y el orden del treemap, de acuerdo a lo seleccionado.</p>
                                <p>Para saber mas de cada municipio, se debe clickear el mismo dentro del treemap.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col s12">
                <div class="input-field col s12">
                    <select id="filter">
                        <option value="poblacion" selected>Poblacion</option>
                        <option value="importe">Gasto total</option>
                        <option value="operaciones">Número de operaciones</option>
                        <option value="importe/operaciones">Gasto promedio por importe</option>
                        <option value="renta">Ingreso per cápita</option>
                        <option value="distancia">Distancia recorrida</option>
                        <option value="comercio">Número de comercios per cápita</option>
                        <option value="paro">Porcentaje de población en paro</option>
                        
                    </select>
                    <label>Tipo de ordenamiento</label>
                </div>
            </div>
        </div>
        <div class="row" id="map-card">
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card grey lighten-2">
                            <div class="card-content" style="height:484px;">
                                <h5>Selecciona un municipio</h5>
                                <div class="map" id="treemap"></div>
                            </div>
                        </div>
                        <div class="card grey lighten-2">
                            <div class="card-content" style="height:484px;">
                                <h5>Gráfico de dispersión</h5>
                                <div class="map" id="scatter"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card grey lighten-2" id="background" hidden>
                            <div class="card-content">
                                <div class="col s12"><h4>Municipio de <span id="municipio_nombre"></span></h4></div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="poblacion"></span>
                                                <p>Poblaciónᵃ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="hombres"></span>
                                                <p>Hombresᵃ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="mujeres"></span>
                                                <p>Mujeresᵃ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="ingreso"></span>
                                                <p>Ingreso per cápitaᵇ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="importe"></span>
                                                <p>Importe promedioᶜ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="distancia"></span>
                                                <p>Distancia recorridaᵈ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="paro"></span>
                                                <p>Paro registradoᵉ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="vehiculos"></span>
                                                <p>Vehículos per cápitaᶠ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title" id="comercio"></span>
                                                <p>Número de comerciosᵍ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m12">
                                        <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                                <div id="bubbles"></div>
                                                <p class="center-align">Importe total por sector</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row" style="padding-top:10px;">
                    <div class="col s12">
                        <div class="card orange darken-4" id="bib">
                            <div class="card-content white-text">
                                <p>* Las fotos de los municipios tienen licencia Creative Commons</p>
                                <p>ᵃ <a href="http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PM_censo2011/sec0.html" target="_blank">http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PM_censo2011/sec0.html</a></p>
                                <p>ᵇ <a href="https://www.datosmacro.com/mercado-laboral/renta/espana/municipios/murcia/murcia/molina-de-segura" target="_blank">https://www.datosmacro.com/mercado-laboral/renta/espana/municipios/murcia/murcia/molina-de-segura</a></p>
                                <p>ᶜ Importe promedio de las transacciones realizadas por los habitantes del municipio seleccionado en la ciudad de Murcia</p>
                                <p>ᵈ Distancia mas corta por carretera desde el centro de cada municipio al centro de la ciudad de Murcia según Google Maps</p>
                                <p>ᵉ <a href="http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PM_paroRegistrado/sec3.html" target="_blank">http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PM_paroRegistrado/sec3.html</a></p>
                                <p>ᶠ <a href="http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PM_Transporte/sec5.html" target="_blank">http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PM_Transporte/sec5.html</a></p>
                                <p>ᵍ <a href="http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PU_AbanillaCifras/P8016/sec12.html" target="_blank">http://econet.carm.es/web/crem/inicio/-/crem/sicrem/PU_AbanillaCifras/P8016/sec12.html</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        
//        FUNCIÓN DE VISUALIZACIÓN DEL TREEMAP
        function treemap(data,id){
            $("#treemap").empty()
            var visualization = d3plus.viz()
                .container("#treemap")
                .data(data)
                .type("tree_map")
                .id("municipio")
                .height(400)
//                .size("importe/operaciones")
                .size(id)
                .background("#e0e0e0")
                .format("es_ES")
                .font({
                    color:"#212121"
                })
                .mouse({                
                    "click": function(d,vars){
                        $("#map").show()
                        $("#background").show()
                        $(".loader-container").show()
                         $.get( "{{url_for('municipios.data_town')}}",{"municipio":d.municipio}, function( data ) {
                            $("#poblacion").text(data["poblacion"]+"hab.")
                            $("#hombres").text(data["hombres"]+"hab.")
                            $("#mujeres").text(data["mujeres"]+"hab.")
                            $("#ingreso").text(data["ingreso"]+"€")
                            $("#distancia").text(data["distancia"]+"km")
                            $("#paro").text(data["paro"]+"hab.")
                            $("#vehiculos").text(data["vehiculos"])
                            $("#comercio").text(data["comercio"])
                        });
                        $.get( "{{url_for('municipios.bubbles')}}",{"municipio":d.municipio}, function( data ) {
                            bubbles(data)
                            $(".loader-container").hide()
                        });
                        jpg = {{url_for('static',filename='assets/img/') | tojson}}
                        jpg = jpg +d.municipio.replace(/ /g,"").replace("(","").replace(")","").normalize('NFD').replace(/[\u0300-\u036f]/g, "")+".jpg"
                        $("#municipio_nombre").text(d.municipio)
                        $("#background").css({
                            "background-image":"url("+jpg+")",
                            "background-repeat": "no-repeat",
                            "background-position": "center top",
                            "background-size":"cover",
                        })
                        $("#importe").text(d["importe/operaciones"]+"€")
                    }
                })
                .draw()
        }
        

//        FUNCIÓN GRÁFICO DE BURBUJAS POR SECTOR
        function bubbles(data){
            $("#bubbles").empty()
             var visualization = d3plus.viz()
                .container("#bubbles")
                .data(data)
                .type("bubbles")
                .id(["municipio","sector"])
                .depth(1)
                .height(300)
                .width(450)
                .background("#546e7a")
                .format("es_ES")
                .size("importe")
                .draw()
        }
        
//        GRÁFICO SCATTER
        function scatter(data,type){
            console.log(data)
            $("#scatter").empty()
             var visualization = d3plus.viz()
                .container("#scatter")
                .data(data)
                .type("scatter")
                .id("municipio")
                .x("importe")
                .y(type)
                .height(400)
                .background("#e0e0e0")
                .format("es_ES")
                .font({
                    color:"#212121"
                })
                .draw()
        }
        
        $(document).ready(function(){
            $('#filter').formSelect();
            treemap({{ DATA["treemap"] | tojson}},"poblacion")
            scatter({{ DATA["treemap"] | tojson}},"poblacion")
            $( "#filter" ).change(function() {
                treemap({{ DATA["treemap"] | tojson}},$("#filter").val())
                scatter({{ DATA["treemap"] | tojson}},$("#filter").val())
            });
        });
            
    </script>
{% endblock %}
