{% extends "layout/pad_base.html" %}

{% block container %}
    <nav class="top-nav blue">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Adelántate</a></div>
        </div>
    </nav>
    <div class="container" class="vis">
        <div class="row">
            <div class="col s12">
                <div class="row" style="padding-top:10px;">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <p>Esta sección te permitirá adelantarte a tus compras y ahorrar tiempo.</p>
                                <p>Escribe el código postal de tu destino, selecciona el(los) tipo(s) de comercio y el día que vas a comprar, y el sistema automáticamente te recomendará la mejor hora de compras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s4">
                        <input id="cp" type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Código postal de destino</label>
                    </div>
                    <div class="input-field col s4">
                        <select multiple id="comercio" class="grey-text">
                            <option value="" disabled selected>Elige tu(s) opciones</option>
                            <option value="ALIMENTACION">Alimentación</option>
                            <option value="AUTO">Auto</option>
                            <option value="BELLEZA">Belleza</option>
                            <option value="HIPERMERCADOS">Hipermercados</option>
                            <option value="HOGAR">Hogar</option>
                            <option value="MODA Y COMPLEMENTOS">Moda y complementos</option>
                            <option value="OCIO Y TIEMPO LIBRE">Ocio y tiempo libre</option>
                            <option value="OTROS">Otros</option>
                            <option value="RESTAURACION">Restauración</option>
                            <option value="SALUD">Salud</option>
                            <option value="TECNOLOGIA">Tecnología</option>
                        </select>
                        <label>Comercio a comprar</label>
                    </div>
                    <div class ="input-field col s4">
                        <label for="date">Día de compras</label><input id="date" type="text" class="datepicker">
                    </div>
                    <div class="input-field col s12 right-align">
                        <button id="process" class="btn waves-effect waves-light" type="submit">Procesar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="radar-card" hidden>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image col s6">
                        <div id="radarchart"></div>
                    </div>
                    <div class="card-stacked col s6">
                        <div class="card-content">
                            <p>En el gráfico de la izquierda se pueden observar los tramos horarios respecto a sus operaciones totales.</p>
                            <p>Los tramos horarios con un área menor son aquellos donde ha concurrido una menor cantidad de personas, prefiera esos horarios de acuerdo a su disponibilidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            
            $('#date').datepicker({
                fistDay: 1,
                format: 'yyyy-mm-dd',
                setDefaultDate: new Date('2015-10-01'),
                minDate: new Date('2015-10-01'),
                yearRange: 2,
                i18n:{
                    months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    weekdaysAbbrev:	['D','L','M','X','J','V','S'],
                    clear: 'Limpiar',
                    today: 'Hoy',
                    done: 'Aceptar',
                    previousMonth: '>',
                    nextMOnth: '<'
                    }
            });
            $('#cp').autocomplete({
                data: {
                    "30001": '{{url_for("static",filename="assets/img/30001.png")}}',
                    "30002": '{{url_for("static",filename="assets/img/30002.png")}}',
                    "30003": '{{url_for("static",filename="assets/img/30003.png")}}',
                    "30004": '{{url_for("static",filename="assets/img/30004.png")}}',
                    "30005": '{{url_for("static",filename="assets/img/30005.png")}}',
                    "30006": '{{url_for("static",filename="assets/img/30006.png")}}',
                    "30007": '{{url_for("static",filename="assets/img/30007.png")}}',
                    "30008": '{{url_for("static",filename="assets/img/30008.png")}}',
                    "30009": '{{url_for("static",filename="assets/img/30009.png")}}',
                    "30010": '{{url_for("static",filename="assets/img/30010.png")}}',
                    "30011": '{{url_for("static",filename="assets/img/30011.png")}}',
                    "30012": '{{url_for("static",filename="assets/img/30012.png")}}',
                    "30100": '{{url_for("static",filename="assets/img/30100.png")}}',
                    "30151": '{{url_for("static",filename="assets/img/30151.png")}}',
                    "30152": '{{url_for("static",filename="assets/img/30152.png")}}',
                    "30158": '{{url_for("static",filename="assets/img/30158.png")}}',
                },
            });
            $('#comercio').formSelect();
            
            $('#process').click(function(){
                if ($("#cp").val() != "" && $("#date").val() != "" && $("#comercio").val().toString() != ""){
                    $(".loader-container").show()
                    $.get( "{{url_for('buy.buy')}}",{"codigo_postal":$("#cp").val(),"date":$("#date").val(),"comercio":$("#comercio").val().toString()}, function( data ) {
                        radarchart(data)
                        $(".loader-container").hide()
                    });
                }else{
                    alert("Debe completar todos los datos")
                }
            })
            
            //        FUNCIÓN DE VISUALIZACIÓN DEL RADARCHART
            function radarchart(data){
                $("#radarchart").empty()
                var visualization = d3plus.viz()
                    .container("#radarchart")
                    .data(data)
                    .id(["name","franja horaria"])
                    .width(400)
                    .height(400)
                    .size("operaciones")
                    .type("radar")
                    .background("#fff")
                    .format("es_ES")
                    .font({
                        color:"#212121"
                    })
                    .tooltip(['00-02','02-04','04-06','06-08','08-10','10-12','12-14','14-16','16-18','18-20','20-22','22-24'])
                    .draw();
                $("#radar-card").show()
            }
        });
    </script>
{% endblock %}
