{% extends "layout/pad_base.html" %}

{% block container %}
      <!-- Element Showed -->
    <div id="tap" class="fixed-action-btn direction-top active">
        <a id="menu" class="waves-effect waves-light btn btn-floating red" ><i class="material-icons">help</i></a>
    </div>
      <!-- Tap Target Structure -->
    <div class="tap-target red" data-target="menu">
        <div class="tap-target-content grey-text text-lighten-4">
            <h5>¿Cómo funciona?</h5> 
            <p>En el título se indica el sector productivo con el cual se está interactuando.</p>
            <p>El filtro permite realizar búsquedas acotadas a la opción deseada.</p>
            <p>Algunos de los graficos son interactivos (clickeables), podrás aprender mas de ellos en la ayuda respectiva.</p>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
            <a href="#!" id="cerrar" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>

    <span hidden id="options" municipio={{ DATA['options']['municipio'] | tojson }} tipo="operaciones" tap="close" sector=""  selector_mapa = 0 tipo_mapa="cliente" datea={{ DATA['options']['datea'] | tojson }} dateb={{ DATA['options']['dateb'] | tojson }}></span>
    <nav class="top-nav blue">
        <div class="container">
            <div class="nav-wrapper"><a class="page-title">Visualizaciones: <span id="sector_actual">Todos los sectores</span></a></div>
        </div>
    </nav>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">filter_list</i><b>Filtros</b>&nbsp;(click para expandir): <b>&nbsp;{{ DATA['options']['municipio'] | safe }}.&nbsp;</b> Período actual del&nbsp; <b> {{ DATA['options']['datea'] | safe }} </b>&nbsp; al &nbsp;<b>{{ DATA['options']['dateb'] | safe }}. </b>
                <!-- Switch -->
                <div id="switch" class="switch">
                    <label>
                        Operaciones
                        <input id="option" type="checkbox">
                        <span class="lever"></span>
                        Importe
                    </label>
                </div>
            </div>
            <div class="collapsible-body">
                <form action="{{url_for('graph.base')}}" method="post">
                    <div class="input-field">
                        <label for="date-a">Rango Inferior</label><input id="date-a" name="datea" type="text" class="datepicker">
                    </div>
                    <div class="input-field">
                        <label for="date-b">Rango Superior</label><input id="date-b" name="dateb" type="text" class="datepicker">
                    </div>
                    <div class="input-field col s6">
                        <select name="municipio" id="municipio" class="grey-text">
                            <option value="Todos los municipios" selected>Todos los municipios</option>
                            <option value="Abanilla">Abanilla</option>
                            <option value="Abarán">Abarán</option>
                            <option value="Águilas">Águilas</option>
                            <option value="Albudeite">Albudeite</option>
                            <option value="Alcantarilla">Alcantarilla</option>
                            <option value="Alcázares (Los)">Alcázares (Los)</option>
                            <option value="Aledo">Aledo</option>
                            <option value="Alguazas">Alguazas</option>
                            <option value="Alhama de Murcia">Alhama de Murcia</option>
                            <option value="Archena">Archena</option>
                            <option value="Beniel">Beniel</option>
                            <option value="Blanca">Blanca</option>
                            <option value="Bullas">Bullas</option>
                            <option value="Calasparra">Calasparra</option>
                            <option value="Campos del Río">Campos del Río</option>
                            <option value="Caravaca de la Cruz">Caravaca de la Cruz</option>
                            <option value="Cartagena">Cartagena</option>
                            <option value="Cehegín">Cehegín</option>
                            <option value="Ceutí">Ceutí</option>
                            <option value="Cieza">Cieza</option>
                            <option value="Fortuna">Fortuna</option>
                            <option value="Fuente Álamo">Fuente Álamo</option>
                            <option value="Jumilla">Jumilla</option>
                            <option value="Librilla">Librilla</option>
                            <option value="Lorca">Lorca</option>
                            <option value="Lorquí">Lorquí</option>
                            <option value="Mazarrón">Mazarrón</option>
                            <option value="Molina de Segura">Molina de Segura</option>
                            <option value="Moratalla">Moratalla</option>
                            <option value="Mula">Mula</option>
                            <option value="Murcia">Murcia</option>
                            <option value="Ojós">Ojós</option>
                            <option value="Pliego">Pliego</option>
                            <option value="Puerto Lumbreras">Puerto Lumbreras</option>
                            <option value="Ricote">Ricote</option>
                            <option value="San Javier">San Javier</option>
                            <option value="San Pedro del Pinata">San Pedro del Pinata</option>
                            <option value="Santomera">Santomera</option>
                            <option value="Torre-Pacheco">Torre-Pacheco</option>
                            <option value="Torres de Cotillas (Las)">Torres de Cotillas (Las)</option>
                            <option value="Totana">Totana</option>
                            <option value="Ulea">Ulea</option>
                            <option value="Unión (La)">Unión (La)</option>
                            <option value="Villanueva del Río Segura">Villanueva del Río Segura</option>
                            <option value="Yecla">Yecla</option>
                        </select>
                        <label>Municipio</label>
                    </div>
                    
                    <div class="input-field">
                        <button class="btn waves-effect waves-light" type="submit">Procesar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
            

        </li>
    </ul>
    <div class="container" class="vis">
        <div class="row" style="position:relative;">
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div id="barchart" class="grey lighten-2"></div>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span id="barchart-title" class="card-title activator white-text">Sector v/s operaciones<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa un histograma constituido por cada uno de los sectores económicos y el número de operaciones/importe según corresponda.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Al pulsar en una de las barras se actualizará el resto de los gráficos correspondiente al sector seleccionado. </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div id="linechart" class="grey lighten-2"></div>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span id="linechart-title" class="card-title activator white-text">Operaciones diarias<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa el total de operaciones/importe a través del tiempo.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Pulsar el gráfico para ampliar..</p>
                    </div>
                </div>
            </div>
            <div class="col s4" id="mapcard">
                <div class="card">         
                    <div class=" waves-block waves-light">
                        <div id="switch2" class="switch">
                            <label>
                                Origen
                                <input id="option2" type="checkbox">
                                <span class="lever"></span>
                                Destino
                            </label>
                        </div>
                        <div id="maptitle" class="switch">
                            <span></span>
                        </div>
                        <div id="map" class="map grey lighten-2"></div>
                    </div>
                    <div class="card-tabs grey lighten-4">
                        <ul class="tabs tabs-fixed-width grey lighten-4">
                            <li class="tab"><a id="map_button" class="active" href="#">Mapa</a></li>
                            <li class="tab"><a id="treemap_button" href="#">Treemap</a></li>
                            {% if DATA['options']['municipio'] == 'Todos los municipios' %}
                            <li class="tab"><a id="heatmap_button" href="#">Heatmap</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span id="map-title" class="card-title activator white-text">Origen de las compras<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa la actividad de transacciones/importe por código postal de la provincia de Murcia de acuerdo a la escala de colores establecida.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>El selector de la esquina superior derecha permite observar la distribución del origen de las compras (clientes) y del destino de las compras (comercio)</p>
                        <p>Al hacer click en un área, el gráfico se refrescará y mostrará los destinos/origen de compra del código postal, según corresponda; por otro lado, al volver hacer click en el mapa se vuelve a la visualización anterior</p>
                    </div>
                </div>
            </div>
            <div class="col s4" id="treemapcard" hidden>
                <div class="card">
                    
                    <div class=" waves-block waves-light">
                        <div id="treemap" class="grey lighten-2"></div>
                    </div>
                    <div class="card-tabs grey lighten-4">
                        <ul class="tabs tabs-fixed-width grey lighten-4">
                            <li class="tab"><a id="map_button" href="#">Mapa</a></li>
                            <li class="tab"><a id="treemap_button" class="active" href="#">Treemap</a></li>
                            {% if DATA['options']['municipio'] == 'Todos los municipios' %}
                            <li class="tab"><a id="heatmap_button" href="#">Heatmap</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span id="treemap-title" class="card-title activator white-text">Origen y destino<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Un gráfico que distribuye en orden descendente el número de transacciones/importe de cada uno de los códigos postales.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Al clickear en un cuadrante, se mostrará en orden descendente los destinos de compra del código postal seleccionado.</p>
                    </div>
                </div>
            </div>
            <div class="col s4" id="heatmapcard" hidden>
                <div class="card">
                    
                    <div class=" waves-block waves-light">
                        <div id="heatmap" class="grey lighten-2"></div>
                    </div>
                    <div class="card-tabs grey lighten-4">
                        <ul class="tabs tabs-fixed-width grey lighten-4">
                            <li class="tab"><a id="map_button" href="#">Mapa</a></li>
                            <li class="tab"><a id="treemap_button" href="#">Treemap</a></li>
                            <li class="tab"><a id="heatmap_button" class="active" href="#">Heatmap</a></li>
                        </ul>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span id="heatmap-title" class="card-title activator white-text">Distribución de transacciones<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa la distribución del número de operaciones/importe sólo de los códigos postales de la ciudad de Murcia.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Los colores fríos representan una menor interacción, mientras que los calidos una mayor.</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row" class="vis">
            <div class="col s3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light level2">
                        <div id="radarchart" class="grey lighten-2"></div>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span class="card-title activator white-text">Franja Horaria<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa la cantidad de operaciones/importe en función de la hora.</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light level2">
                        <div id="piechart_gender" class="grey lighten-2"></div>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span class="card-title activator white-text">Género<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa la proporción de hombres y mujeres respecto al número de operaciones/importe.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Para el caso de la distribución del importe, sólo se consideraron aquellas transacciones con un número de operación, debido a que la base de datos sólo ofrecía información respecto al número de operaciones</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light level2">
                        <div id="piechart_age" class="grey lighten-2"></div>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span class="card-title activator white-text">Perfil etario<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa la proporción de jóvenes, adultos y pensionistas respecto al número de operaciones/importe.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Para el caso de la distribución del importe, sólo se consideraron aquellas transacciones con un número de operación, debido a que la base de datos sólo ofrecía información respecto al número de operaciones</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light level2">
                        <div id="piechart_status" class="grey lighten-2"></div>
                    </div>
                    <div class="card-content light-blue darken-4">
                        <span class="card-title activator white-text">Perfil económico<i class="material-icons right">help</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¿Qué es?<i class="material-icons right">close</i></span>
                        <p>Representa la proporción de gente con ingresos bajos, medios y altos respecto al número de operaciones/importe.</p>
                        <span class="card-title grey-text text-darken-4">¿Cómo funciona?</span>
                        <p>Para el caso de la distribución del importe, sólo se consideraron aquellas transacciones con un número de operación, debido a que la base de datos sólo ofrecía información respecto al número de operaciones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
//        PARÁMETROS GLOBALES DE LAS FUNCIONES
//        DATA: JSON CON LOS DATOS A DESPLEGAR
//        TYPE: SI EL TIPO CORRESPONDE A VISUALIZACIÓN POR IMPORTE U OPERACIONES
//        TYPE2: PARA EL CASO DEL MAPA SOLAMENTE, PARA VISUALIZAR ENTRE COMERCIO O CLIENTE
//        ID: ID DEL CONTENEDOR EN DONDE SE VISUALIZARÁ EL GRÁFICO
//        FUNCIÓN PARA CAPITALIZAR TEXTO
        String.prototype.capitalize = function() {
            return this.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
        };
        function get_type(){
            return $("#options").attr("tipo")
        }
        
//        FUNCIÓN DE INICIALIZACIÓN DE LA INTERFAZ DE FECHA PARA EL FILTRO
        function init_date(){
            $('#date-a').datepicker({
                fistDay: 1,
                format: 'yyyy-mm-dd',
                defaultDate: new Date('2015-10-01'),
                setDefaultDate: new Date('2015-10-01'),
                minDate: new Date('2015-10-01'),
                maxDate: new Date('2017-09-30'),
                yearRange: 2,
                i18n:{
                    months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    weekdaysAbbrev:	['D','L','M','X','J','V','S'],
                    clear: 'Limpiar',
                    today: 'Hoy',
                    done: 'Aceptar',
                    previousMonth: '>',
                    nextMOnth: '<'
                    }
            });
            $('#date-b').datepicker({
                fistDay: 1,
                format: 'yyyy-mm-dd',
                minDate: new Date('2015-10-01'),
                maxDate: new Date('2017-09-30'),
                defaultDate: new Date('2017-09-30'),
                setDefaultDate: new Date('2017-09-30'),
                yearRange: 2,
                i18n:{
                    months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    weekdaysAbbrev:	['D','L','M','X','J','V','S'],
                    clear: 'Limpiar',
                    today: 'Hoy',
                    done: 'Aceptar',
                    previousMonth: '>',
                    nextMOnth: '<'
                    }
            });
        }
        
//        FUNCIÓN QUE ACTUALIZA LOS DATOS DEL MAPA
        function refresh_map(data,type,type2,zoom=8){
            $("#options").attr("selector_mapa",0)
            $("#maptitle span").text("")
            $("#map").empty()
            leafletmap.remove()
            leafletmap = L.map('map',{zoomControl:false}).setView([37.9945082, -1.1338342], zoom);
            if (type=="operaciones" && type2 == "comercio")
                type = "comercio_op"
            if (type=="operaciones" && type2 == "cliente")
                type = "cliente_op"
            if (type=="importe" && type2 == "comercio")
                type = "comercio_im"
            if (type=="importe" && type2 == "cliente")
                type = "cliente_im"
            map(data,type)
            
        }
        
        
//        FUNCIÓN QUE ACTUALIZA LOS DATOS DEL MAPA AL CLICKEAR EN UN ZONA
        function refresh_map2(data,type,zoom=8){
            $("#options").attr("selector_mapa",1)
            $("#map").empty()
            leafletmap.remove()
            leafletmap = L.map('map',{zoomControl:false}).setView([37.9945082, -1.1338342], zoom);
            map(data,type)
            
        }
        
//        INICIALIZACIÓN DEL MAPA
        var leafletmap = L.map('map',{zoomControl:false}).setView([37.9945082, -1.1338342], 8);
//        FUNCIÓN DE VISUALIZACIÓN DEL MAPA
        function map(data,type){
            leafletmap.removeLayer(L.geoJSON);
            leafletmap.removeLayer(L.control);
            var map_max = data["max"][type]
            function getColor(d) {
                return d > Math.pow(10,6) ? '#7D000B' :
                       d > Math.pow(10,5)  ? '#BD0026' :
                       d > Math.pow(10,4)  ? '#FF0015' :
                       d > Math.pow(10,3)  ? '#FF4600' :
                       d > Math.pow(10,2)   ? '#FF9500' :
                       d > Math.pow(10,1)   ? '#FFD800' :
                       d > 1   ? '#FFE97F' :
                       d == 0 ? '#EDEDEE':
                                  '#EDEDEE';
            }
            function style(feature) {
                return {
                    fillColor: getColor(feature.properties[type]),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.9
                };
            }

            murcia = data["data"]
            
            function onEachFeature(feature, layer) {
                var popupContent = "Codigo Postal: ";

                if (feature.properties && feature.properties.popupContent) {
                    popupContent += feature.properties.popupContent+"<br>";
                    popupContent += "Operaciones de Clientes: "+feature.properties.cliente_op+"<br>";
                    popupContent += "Importes de Clientes: "+feature.properties.cliente_im+"<br>";
                    popupContent += "Operaciones de Comercio: "+feature.properties.comercio_op+"<br>";
                    popupContent += "Importes de Comercio: "+feature.properties.comercio_im;
                }

                layer.bindPopup(popupContent);
                layer.on('mouseover', function (e) {
                    this.openPopup();
                });
                layer.on('mouseout', function (e) {
                    this.closePopup();
                });
                layer.on('click', function (e) {
                    $(".loader-container").show()
                    if ($("#options").attr("selector_mapa") == 0){
                        $.get( "{{url_for('graph.map_neighbors')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"codigo_postal":e.sourceTarget.feature.properties.codigopostal,"tipo":$("#options").attr("tipo_mapa"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            if ($("#options").attr("tipo_mapa") == "cliente")
                                refresh_map2(data,"data_op",10)
                            else
                                refresh_map2(data,"data_op")
                            $("#maptitle span").text("Área seleccionada: "+e.sourceTarget.feature.properties.codigopostal)
                            $(".loader-container").hide()
                        });
                        
                    }else{
                        $.get( "{{url_for('graph.map')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            refresh_map(data,get_type(),$("#options").attr("tipo_mapa"))
                            $(".loader-container").hide()
                        });
                        
                    }
                });
            }
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                id: 'mapbox.light'
            }).addTo(leafletmap);

            L.geoJSON(murcia, {

                style: style,
                onEachFeature: onEachFeature,

            }).addTo(leafletmap);
            var legend = L.control({position: 'bottomright'});

            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                    grades = [0, 1, Math.pow(10,1), Math.pow(10,2), Math.pow(10,3), Math.pow(10,4), Math.pow(10,5)],
                    labels = [];

                // loop through our density intervals and generate a label with a colored square for each interval
                for (var i = 0; i < grades.length; i++) {
                    div.innerHTML +=
                        '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                        grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                }

                return div;
            };

            legend.addTo(leafletmap);
        }
        
//        FUNCIÓN DE VISUALIZACIÓN DE BARCHART
        function barchart(data,type){
            $("#barchart").empty()
            width = $(".col.s4").width()
            var visualization = d3plus.viz()
                .container("#barchart")
                .data(data)
                .type("bar")
                .id("sector")
                .x("sector")
                .y(type)
                .width(width)
                .height(350)
                .background("#e0e0e0")
                .format("es_ES")
                .font({
                    color:"#212121"
                })
                .mouse({                
                    "click": function(d,vars){
                        $(".loader-container").show()
                        $("#options").attr("sector",d.sector)
                        $("#sector_actual").text((d.sector).toLowerCase().capitalize())
                        $.get( "{{url_for('graph.linechart')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            linechart(data,get_type())
                        });
                        $.get( "{{url_for('graph.map')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            refresh_map(data,get_type(),$("#options").attr("tipo_mapa"))
                        });
                        $.get( "{{url_for('graph.treemap')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            treemap(data,get_type(),"#treemap")
                        });
                        $.get( "{{url_for('graph.heatmap')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            heatmap(data[1],get_type(),"heatmap");
                        });
                        $.get( "{{url_for('graph.radarchart')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            radarchart(data,get_type(),"#radarchart")
                        });
                        $.get( "{{url_for('graph.piechart_gender')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            piechart(data,get_type(),"#piechart_gender")
                        });
                        $.get( "{{url_for('graph.piechart_age')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            piechart(data,get_type(),"#piechart_age")
                        });
                        $.get( "{{url_for('graph.piechart_status')}}",{"sector":d.sector,"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                            piechart(data,get_type(),"#piechart_status")
                            init_date()
                            $(".loader-container").hide()
                        });
                        
                        
                        
                    }   
                })  
                .draw()

        }
        
//        FUNCIÓN DE VISUALIZACIÓN DEL LINECHART
        function linechart(data,type){
            $("#linechart").empty()
            $(".modal-content").empty()
            width = $(".col.s4").width()
            var visualization = d3plus.viz()
                .container("#linechart")  
                .data(data)
                .type("line")       
                .id("sector")         
                .text("sector")       
                .y(type)         
                .x("fecha")
                .width(width)
                .height(350)
                .format("es_ES")
                .background("#e0e0e0")
                .font({
                    color:"#212121"
                })
                .order({
                    "value":"fecha",
                    "sort":"asc"
                })
                .mouse({                
                    "click": function(d,vars){
                        $("#modal1").show()
                    }
                })
                .draw()
            width = $( window ).width()*0.75;
            height = $( window ).height()*0.58;
            var visualization2 = d3plus.viz()
                .container(".modal-content")  
                .data(data)
                .title("Distribución de "+type+" en el tiempo")
                .type("line")       
                .id("sector")         
                .text("sector")
                .width(width)
                .height(height)
                .y(type)         
                .x("fecha")
                .format("es_ES")
                .order({
                    "value":"fecha",
                    "sort":"asc"
                })
                .draw()
        }
        
//        FUNCIÓN DE VISUALIZACIÓN DEL PIECHART
        function piechart(data,type,id){
            $(id).empty()
            width = $(".col.s3").width()
            var visualization = d3plus.viz()
                    .container(id)
                    .data(data)
                    .type("pie")
                    .id("tipo")
                    .size(type)
                    .width(width)
                    .height(250)
                    .background("#e0e0e0")
                    .format("es_ES")
                    .font({
                        color:"#212121"
                    })
                    .draw()
        }
        
//        FUNCIÓN DE VISUALIZACIÓN DEL RADARCHART
        function radarchart(data,type,id){
            $(id).empty()
            width = $(".col.s3").width()
            var visualization = d3plus.viz()
                .container(id)
                .data(data)
                .id(["name","franja horaria"])
                .width(width)
                .height(250)
                .size(type)
                .type("radar")
                .background("#e0e0e0")
                .format("es_ES")
                .font({
                    color:"#212121"
                })
                .draw();
        }
        
//        FUNCIÓN DE VISUALIZACIÓN DEL TREEMAP
        function treemap(data,type,id){
            $(id).empty()
            width = $(".col.s4").width()
            var visualization = d3plus.viz()
                .container(id)
                .data(data)
                .type("tree_map")
                .id(["cliente","comercio"])
                .size(type)
                .width(width)
                .height(300)
                .background("#e0e0e0")
                .format("es_ES")
                .font({
                    color:"#212121"
                })
                .draw()
        }

//        FUNCIÓN DE VISUALIZACIÓN DEL HEATMAP
        function heatmap(data,type,id){
            $("#"+id).empty()
            min_max = []
            for (i in data){
                min_max.push(data[i][type])
            }
            max_value = Math.max.apply(null,min_max)
            min_value = Math.min.apply(null,min_max)
            var itemSize = 15,
            cellSize = itemSize - 1,
            margin = {top: 50, right: 20, bottom: 20, left: 50};
      
            var width = $(".col.s4").width() - margin.right - margin.left,
                height = 294 - margin.top - margin.bottom;


            var x_elements = d3.set(data.map(function( item ) { return item.CP_COMERCIO; } )).values(),
                y_elements = d3.set(data.map(function( item ) { return item.CP_CLIENTE; } )).values();
            var xScale = d3.scale.ordinal()
                .domain(x_elements)
                .rangeBands([0, x_elements.length * itemSize]);

            var xAxis = d3.svg.axis()
                .scale(xScale)
                .tickFormat(function (d) {
                    return d;
                })
                .orient("top");

            var yScale = d3.scale.ordinal()
                .domain(y_elements)
                .rangeBands([0, y_elements.length * itemSize]);

            var yAxis = d3.svg.axis()
                .scale(yScale)
                .tickFormat(function (d) {
                    return d;
                })
                .orient("left");

            var colorScale = d3.scale.log()
                .domain([min_value, max_value])
                .interpolate(d3.interpolateHcl)
                .range([d3.rgb("#004A7F"), d3.rgb('#FF006E')]);

            var svg = d3.select("#"+id)
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            // Define the div for the tooltip
            var div = d3.select("body").append("div")	
                .attr("class", "tooltip")				
                .style("opacity", 0);
            
            var cells = svg.selectAll('rect')
                .data(data)
                .enter().append('g').append('rect')
                .attr('class', 'cell')
                .attr('width', cellSize)
                .attr('height', cellSize)
                .attr('y', function(d) { return yScale(d.CP_CLIENTE); })
                .attr('x', function(d) { return xScale(d.CP_COMERCIO); })
                .attr('fill', function(d) { return colorScale(d[type]); })
                .on("mouseover",function(d){
                    div.transition()		
                        .duration(200)		
                        .style("opacity", 1);		
                    div.html("<div class='left'>Origen</div><div class='right'>" + d.CP_CLIENTE + "</div><br/>"  + "<div class='left'>Destino</div><div class='right'>" + d.CP_COMERCIO + "</div><br/>" + "<div class='left'>Operaciones</div><div class='right'>" + d.operaciones + "</div><br/>" + "<div class='left'>Importe</div><div class='right'>" + d.importe + "</div>")	
                        .style("left", (d3.event.pageX) + "px")		
                        .style("top", (d3.event.pageY - 28) + "px");	
                })
                .on("mouseout", function(d) {		
                    div.transition()		
                        .duration(500)		
                        .style("opacity", 0);	
                });

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .selectAll('text')
                    .attr('font-weight', 'normal')
                    .style("fill","#424242");

                svg.append("g")
                    .attr("class", "x axis")
                    .call(xAxis)
                    .selectAll('text')
                    .attr('font-weight', 'normal')
                    .style("text-anchor", "start")
                    .attr("dx", ".8em")
                    .attr("dy", ".5em")
                    .style("fill","#424242")
                    .attr("transform", function (d) {
                        return "rotate(-65)";
                    });
        }
        
        
        $(document).ready(function(){
            $('#municipio').formSelect();
            $("button[type=submit]").click(function(){
                $(".loader-container").show()
            })
            $("#cerrar").click(function(){
                $("#modal1").hide()
            })
            $("#mapcard #treemap_button,#heatmapcard #treemap_button").click(function(){
                $("#treemapcard").show()
                $("#mapcard").hide()
                $("#heatmapcard").hide()
                if($("#options").attr("sector") != ""){
                    $.get( "{{url_for('graph.treemap')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        treemap(data,get_type(),"#treemap")
                    });
                }else{
                    treemap({{ DATA["treemap"] | tojson }},$("#options").attr("tipo"),"#treemap")
                }

            })
            
            $("#treemapcard #map_button,#heatmapcard #map_button").click(function(){
                $("#treemapcard").hide()
                $("#heatmapcard").hide()
                $("#mapcard").show()
                if($("#options").attr("sector") != ""){
                    $.get( "{{url_for('graph.map')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        refresh_map(data,get_type(),$("#options").attr("tipo_mapa"))
                    });
                    
                }else{
                    refresh_map({{ DATA["map"] | tojson }},get_type(),$("#options").attr("tipo_mapa"))
                }
            })
            
            $("#treemapcard #heatmap_button,#mapcard #heatmap_button").click(function(){
                $("#treemapcard").hide()
                $("#heatmapcard").show()
                $("#mapcard").hide()
                if($("#options").attr("sector") != ""){
                    $.get( "{{url_for('graph.heatmap')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        heatmap(data[1],get_type(),"heatmap")
                    });
                    
                }else{
                    heatmap({{ DATA["heatmap"][1] | tojson }},get_type(),"heatmap")
                }
            })
            
            $('.collapsible').collapsible();
            $('.tap-target').featureDiscovery();
            $("#tap").click(function(){
                if($("#options").attr("tap") == "close")
                    $("#options").attr("tap","open")
                else
                    $("#options").attr("tap","close")
                $('.tap-target').featureDiscovery($("#options").attr("tap"))
            })
            barchart({{ DATA["barchart"] | tojson }},"operaciones","#barchart");
            linechart({{ DATA["linechart"] | tojson }},"operaciones");
            map({{ DATA["map"] | tojson }},"cliente_op")
            heatmap({{ DATA["heatmap"][1] | tojson }},"operaciones","heatmap");
            radarchart({{ DATA["radarchart"] | tojson }},"operaciones","#radarchart")
            piechart({{ DATA["piechart_gender"] | tojson }},"operaciones","#piechart_gender");
            piechart({{ DATA["piechart_age"] | tojson }},"operaciones","#piechart_age");
            piechart({{ DATA["piechart_status"] | tojson }},"operaciones","#piechart_status");
            piechart({{ DATA["piechart_status"] | tojson }},"operaciones","#piechart_status");
            
            
            $("#option2").change(function(){
                if ($("#options").attr("tipo_mapa")=="cliente"){
                    $("#options").attr("tipo_mapa","comercio")
                    $("#options").attr("tipo_mapa2","CP_COMERCIO")
                    $("#map-title").html('Destino de las compras<i class="material-icons right">help</i>')
                    refresh_map({{ DATA["map"] | tojson }},$("#options").attr("tipo"),$("#options").attr("tipo_mapa"),10)
                }else{
                    $("#options").attr("tipo_mapa","cliente")
                    $("#options").attr("tipo_mapa2","CP_CLIENTE")
                    $("#map-title").html('Origen de las compras<i class="material-icons right">help</i>')
                    refresh_map({{ DATA["map"] | tojson }},$("#options").attr("tipo"),$("#options").attr("tipo_mapa"))
                }
                
            })
            $("#option").change(function(){
                
                if ($("#options").attr("tipo")=="operaciones"){
                    $("#options").attr("tipo","importe")
                    $("#barchart-title").text("Sector v/s importe")
                    $("#linechart-title").text("Importe diario")

                }else{
                    $("#options").attr("tipo","operaciones")
                    $("#barchart-title").text("Sector v/s operaciones")
                    $("#linechart-title").text("Operaciones diarias")
                }
                if($("#options").attr("sector") == ""){
                    
                    
                    
                    barchart({{ DATA["barchart"] | tojson }},$("#options").attr("tipo"));
                    linechart({{ DATA["linechart"] | tojson }},$("#options").attr("tipo"));
                    treemap({{ DATA["treemap"] | tojson }},$("#options").attr("tipo"),"#treemap")
                    heatmap({{ DATA["heatmap"][1] | tojson }},$("#options").attr("tipo"),"heatmap");
                    piechart({{ DATA["piechart_gender"] | tojson }},$("#options").attr("tipo"),"#piechart_gender");
                    piechart({{ DATA["piechart_age"] | tojson }},$("#options").attr("tipo"),"#piechart_age");
                    piechart({{ DATA["piechart_status"] | tojson }},$("#options").attr("tipo"),"#piechart_status");
                    radarchart({{ DATA["radarchart"] | tojson }},$("#options").attr("tipo"),"#radarchart")
                    refresh_map({{ DATA["map"] | tojson }},get_type(),$("#options").attr("tipo_mapa"))

                    
                    
                    
                }else{
                    $(".loader-container").show()
                    barchart({{ DATA["barchart"] | tojson }},$("#options").attr("tipo"));
                    
                    $.get( "{{url_for('graph.linechart')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        linechart(data,get_type())
                    });
                    $.get( "{{url_for('graph.map')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        refresh_map(data,get_type(),$("#options").attr("tipo_mapa"))
                    });
                    $.get( "{{url_for('graph.treemap')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        treemap(data,get_type(),"#treemap")
                    });
                    $.get( "{{url_for('graph.heatmap')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        heatmap(data[1],get_type(),"heatmap");
                    });
                    $.get( "{{url_for('graph.radarchart')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        radarchart(data,get_type(),"#radarchart")
                    });
                    $.get( "{{url_for('graph.piechart_gender')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        piechart(data,get_type(),"#piechart_gender")
                    });
                    $.get( "{{url_for('graph.piechart_age')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        piechart(data,get_type(),"#piechart_age")
                    });
                    $.get( "{{url_for('graph.piechart_status')}}",{"sector":$("#options").attr("sector"),"datea":$("#options").attr("datea"),"dateb":$("#options").attr("dateb"),"municipio":$("#options").attr("municipio")}, function( data ) {
                        piechart(data,get_type(),"#piechart_status")
                        init_date()
                        $(".loader-container").hide()
                    });

                }
                
                 init_date()   

            })
            init_date()
            
        });
        
    </script>
{% endblock %}

