<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Datathon Cajamar Universityhack 2018. Wefferrent Card Analytics: Murcia{% endblock %}</title>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS -->
		<link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/x-icon"/>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/materialize/css/materialize.min.css') }}">
        <!-- Compiled and minified JavaScript -->
        
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}"/>
		<link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,700" rel="stylesheet">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
    
		<!-- SCRIPTS -->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/d3/d3.v5.min.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/d3plus/d3plus.full.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/materialize/js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}" ></script>
		{% block script_head %}{% endblock%}
	</head>
	<body>
		{% block nav %}
            <div class="loader-container">
                <div class="loader"></div>
            </div>
            <ul id="slide-out" class="sidenav sidenav-fixed grey darken-3">
                <li class="datathon-logo" class="center-align" style="margin-left:20px;margin-top:20px;margin-bottom:20px;"><img width="180px" src="{{ url_for('static', filename='assets/img/datathon.png') }}"></li>
                <li><a href="{{url_for('device.base')}}" class="white-text"><i class="material-icons grey-text text-lighten-1">home</i>Presentación</a></li>
                <br>
                <li style="background-color:#3E3E3E;"><a class="subheader white-text text-lighten-1">Análisis</a></li>
                <li><a href="{{url_for('interpretation.base')}}" class="white-text"><i class="material-icons grey-text text-lighten-1">format_align_left</i>Resultados</a></li>
                <br>
                
                <li style="background-color:#3E3E3E;"><a class="subheader white-text text-lighten-1">Vistas</a></li>
                <li><a href="{{url_for('graph.base')}}" class="white-text"><i class="material-icons grey-text text-lighten-1">insert_chart</i>Visualizaciones</a></li>
                <li><a href="{{url_for('municipios.base')}}" class="white-text"><i class="material-icons grey-text text-lighten-1">location_city</i>Municipios</a></li>
                <br>
                <li style="background-color:#3E3E3E;"><a class="subheader white-text text-lighten-1">Herramientas</a></li>
                <li><a href="{{url_for('buy.base')}}" class="white-text"><i class="material-icons grey-text text-lighten-1">monetization_on</i>Adelántate</a></li>
                <li><a href="{{url_for('fourier.base')}}" class="white-text"><i class="material-icons grey-text text-lighten-1">show_chart</i>Fourier</a></li>
                
            </ul>

        {% endblock %}
        {% block container %}{% endblock %}
		{% block footer %}
            <footer class="page-footer blue">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Sobre el sitio</h5>
                            <p class="grey-text text-lighten-4">Este sitio web ha sido construído mediante el microframework Flask a través de Python, MySQL y SQLAlchemy para el backend, en conjunto con HTML y Javascript para el frontend, utilizando las librerías jQuery, d3, d3Plus y leaflet para los gráficos y materializecss para el diseño.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="http://www.cajamardatalab.com/datathon-cajamar-universityhack-2018/">Cajamar Datathon</a></li>
                                <li><a class="grey-text text-lighten-3" href="http://www.murcia.es">Ayuntamiento de Murcia</a></li>
                                <li><a class="grey-text text-lighten-3" href="http://www.gsc.upm.es/gsc/">Grupo de Sistemas Complejos</a></li>
                                <li><a class="grey-text text-lighten-3" href="http://www.upm.es/">Universidad Politécnica de Madrid</a></li>
                                <li><a class="grey-text text-lighten-3" href="http://www.net-works.cl">Net-works</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2018 Un trabajo de Gastón Olivares y Javier Montes: Rolativos
                        <a class="grey-text text-lighten-4 right" href="https://bitbucket.org/upm_datathon/datathon_2018/" target="_blank">Repositorio Bitbucket</a>
                    </div>
                </div>
            </footer>
        {% endblock %}
		<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
        <script>
            $(".loader").css("margin-top",$(window).height()/2 - 75)
            $("#slide-out a").click(function(){
                
                $(".loader-container").show()
            })
        </script>
		{% block script %}{% endblock%}
	</body>
</html>